<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TCRMServicesWebServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://app-sfc-prod-webservicetrm.azurewebsites.net:80/SuperfinancieraWebServiceTRM/TCRMServicesWebService/TCRMServicesWebService"
                binding="basicHttpBinding" bindingConfiguration="TCRMServicesWebServiceSoapBinding1"
                contract="ServiceReference2.TcrmServicesInterface" name="TcrmServicesInterfaceImplPort1" />
        </client>
    </system.serviceModel>
</configuration>